* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #fffffa;
	font-family: Consolas, Monaco, Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

h1 {
	margin: 50px 0;
	text-align: center;
	font-size: 24px;
}
h2 {
	margin: 30px 0;
	font-size: 20px;
}
h3 {
	margin: 20px 0;
	font-size: 18px;
}
@media screen and (max-width: 800px) {
	.main {
		width: 100%;
		padding: 20px;
	}
	.main ul {
		list-style: none;
		padding-left: 10px;
	}
}
@media screen and (min-width: 800px) {
	.main {
		width: 1000px;
		margin: 0 auto;
	}
	.main ul {
		list-style: none;
		padding-left: 20px;
	}
}
.main p,
.main center,
.main li {
	line-height: 1.5;
	font-size: 14px;
	color: #666;
}
.main p {
	margin: 0.5em;
}
.main code:not(.hljs) {
	font-family: Monaco, Consolas, sans-serif;
    font-size: 12px;
    font-weight: 600;
	background: #cfedf0;
	border: 1px solid #cfedf0;
	line-height: 25px;
	color: #666;
    border-radius: 3px;
    padding: 0 3px;
    margin: 1px 5px;
}
.main code.hljs {
	background: #eee;
	font: normal 13px Monaco, Consolas, sans-serif;
	-webkit-font-smoothing: auto;
}